
out
.nextflow.log
.nextflow.log.*
gff.db
work
hap_genomes
fastq_reads
.nextflow
out_ms
*pdf
*tsv
*csv
*png
*.html
gff*
*pid
*nextflow*
report.html
*pdf
results
oarfish_comparision
work
transinger_out
scripts_for_reference_preparation
tama_test