

/*
================================================================================

Here add SLURM info 

================================================================================
*/



manifest {
  description = 'Running Nextflow script' 
  author = 'nfn'
  nextflowVersion = '>=22.10.0'
}


profiles {
  standard {
    process.executor = 'slurm'
  }
}

// set threads for each process
process {
  shell = [ '/bin/bash', '-ue' ]

  errorStrategy = 'ignore'

  executor = 'slurm'
  withLabel: 'process_high' {
    cpus = 16
    memory = '100GB'
    time = '12h'
    }
  withLabel: 'process_minimap2' {
    cpus = 16
    memory = '256GB'
    time = '96h'
  }
  withLabel: 'process_mem' {
    cpus = 1
    memory = '128GB'
    time = '4h'
  }
  withLabel: 'process_medium' {
    cpus = 1
    memory = '64GB'
  }
  
}

report.overwrite = true

